* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
}

#unit-title {
    text-align: center;
    margin-top: 20px;
}

#practise-container {
    width: fit-content;
    padding: 30px;
    padding-top: 100px;
    margin: 0 auto;
}

#practise-container > ul {
    list-style: none;
}

.practise-list-element {
    display: block;
}

.practise-list-element > a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.practise-list-element > a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#practise-container > ul > li + li {
    margin-left: 150px;
}

.description-excercise {
    margin-left: 50px;
    float: right;
}