* {
    font-family: Arial, Helvetica, sans-serif;
}

#un-list > li:last-child {
    margin: 0;
}

#listElement {
    display: inline;
    margin-right: 30px;
}

#listElement > a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

#listElement:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}